@page "/"
@using AIP.UseCases.Students.Interfaces
@using AIP.Entities

@inject IViewStudentsByNameUseCase ViewStudentsByNameUseCase

<PageTitle>Automatizace inkasních plateb</PageTitle>

<ul>
    @foreach (var student in _students)
    {
        <li>@student.LastName @student.FirstName</li>
    }
</ul>


@code
{
    private List<Student> _students = new List<Student>();
    protected override async Task OnInitializedAsync()
    {
        _students = (await ViewStudentsByNameUseCase.ExecuteAsync("á")).ToList();
    }
}
